$primary-color: #8FB8CA;
$secondary-color: #A6C3CE;
$light-color: #CEDFDF;
$dark-color: #91AC9A;
$shadow-color: #A9C3B6;
$icon-color: #B7D1D3;

$grey-color: #64748b;

$white-color: #ffffff;
$black-color: rgb(47, 47, 47);
$blue-color: rgb(63, 63, 197);
$green-color :rgb(63, 197, 70);
$red-color: rgb(197, 63, 63);
$orange-color: rgb(179, 104, 50);

// -------------------------------
//  light theme variables
// $primary-100: #d4eaf7;
// $primary-200: #b6ccd8;
// $primary-300: #3b3c3d;
// $accent-100: #71c4ef;
// $accent-200: #00668c;
// $text-100: #1d1c1c;
// $text-200: #313d44;
// $bg-100: #fffefb;
// $bg-200: #f5f4f1;
// $bg-300: #cccbc8;

// //  Dark theme Variables 
// $primary-100: #1F3A5F;
// $primary-200: #4d648d;
// $primary-300: #acc2ef;
// $accent-100: #3D5A80;
// $accent-200: #cee8ff;
// $text-100: #FFFFFF;
// $text-200: #e0e0e0;
// $bg-100: #0F1C2E;
// $bg-200: #1f2b3e;
// $bg-300: #374357;

//  shadow theme variables
// $primary-100: #1E2022;
// $primary-200: #34373b;
// $primary-300: #F0F5F9;
// $accent-100: #788189;
// $accent-200: #e1e4e6;
// $text-100: #1E2022;
// $text-200: #52616B;
// $bg-100: #F0F5F9;
// $bg-200: #C9D6DF;
// $bg-300: #bfc7d1;