<header>
    <div class="company-logo">Delivery App</div>
    <nav class="navbar">
        <ul class="nav-items">
            <li class="nav-item">
                <span class="nav-link">LOGIN</span>
            </li>
            <li class="nav-item">
                <span class="nav-link">OFFER</span>
            </li>
            <li class="nav-item">
                <span class="nav-link">SHOP</span>
            </li>
            <li class="nav-item">
                <span class="nav-link">CONTACT</span>
            </li>
        </ul>
    </nav>
</header>